#######################################################
#                  Warpgate variables                 #
#######################################################
variable "template_name" {
  type        = string
  description = "Name of the packer template."
  default     = "{{.TemplateName}}"
}

variable "provision_repo_path" {
  type        = string
  description = "Path on disk to the repo that contains the provisioning code."
  default     = ""
}

variable "shell" {
  type        = string
  description = "Shell to use."
  default     = "/bin/bash"
}

############################################
#           Container variables            #
############################################
variable "base_image" {
  type        = string
  description = "Base image."
  default     = "{{.BaseImage}}"
}

variable "base_image_version" {
  type        = string
  description = "Version of the base image."
  default     = "{{.BaseImageVersion}}"
}

variable "entrypoint" {
  type        = string
  description = "Optional entrypoint script."
  default     = ""
}

variable "manifest_path" {
  type        = string
  description = "Path to the generated manifest file."
  default     = "manifest.json"
}

variable "user" {
  type        = string
  description = "Default user."
  default     = "root"
}

variable "workdir" {
  type        = string
  description = "Working directory for a new container."
  default     = "/root"
}
{{if .IncludeAMI}}
############################################
#              AWS variables               #
############################################
variable "ami_region" {
  type        = string
  description = "AWS region to launch the instance and create AMI."
  default     = "us-east-1"
}

variable "instance_type" {
  type        = string
  description = "The type of instance to use for the initial AMI creation."
  default     = "t3.micro"
}

variable "disk_size" {
  type        = number
  description = "Disk size in GB for building the AMI."
  default     = 50
}

variable "ssh_username" {
  type        = string
  description = "The SSH username for the AMI."
  default     = "ubuntu"
}

variable "ssh_timeout" {
  type        = string
  description = "Timeout for SSH connections."
  default     = "20m"
}
{{end -}}
